.btn_logIn {
    margin-right: 10px;
}
.input-field {
    margin-left: 20px;
    margin-right: 20px;
}
.yellow-input {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff!important;
}
.yellow-input + label {
    color: #fff !important;
}
.yellow-input:focus {
    border-bottom: 1px solid #ffeb3b !important;
    box-shadow: 0 1px 0 0 #ffeb3b!important;
}
.yellow-input + label {
    color: #ffeb3b !important;
}